DB_NAME=freecash_db
DB_USER=freecash_user
DB_PASS=freecash_pass
DB_HOST=postgres
DB_PORT=5432

DJANGO_SECRET_KEY=change-me-generate-a-new-secret-key
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1,0.0.0.0
