<!DOCTYPE html>
<html>
<head>
    <script src="https://cdn.tailwindcss.com"></script>
    <meta charset="UTF-8">
</head>
<body class="bg-gray-100 flex items-center justify-center h-screen">

<div class="bg-white w-full max-w-md p-6 rounded shadow">
    <h1 class="text-xl font-semibold mb-4">Login</h1>

    {% if messages %}
        {% for m in messages %}
        <p class="mb-2 text-red-600">{{ m }}</p>
        {% endfor %}
    {% endif %}

    <form method="post">
        {% csrf_token %}

        <input type="text" name="username" placeholder="Usuário"
               class="w-full mb-3 border rounded p-2" />

        <input type="password" name="password" placeholder="Senha"
               class="w-full mb-4 border rounded p-2" />

        <button class="bg-blue-600 text-white w-full py-2 rounded hover:bg-blue-700">
            Entrar
        </button>
    </form>

    <a href="{% url 'registrar' %}" class="block text-center mt-4 text-blue-600 hover:underline">
        Criar nova conta
    </a>
</div>

</body>
</html>
